
body {
    background: #f9f9f9;
}
.top-bg-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background: #3bb18f;
    z-index: 1;
}

.about-content-box {
    position: relative;
    z-index: 2;
    width: 5.34rem;
    padding: .5rem .5rem .6rem;
    background: #fff;
    margin: 1.45rem auto 0;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
}

.about-content-box .title {
    margin-bottom: .5rem;
    font-size: .38rem;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.about-content-box .row-box {
    font-size: .28rem;
    color: #666;
    line-height: .5rem;
}
.eqcode > img {
    display: block;
    width: 3.1rem;
    height: 3.1rem;
    margin: .5rem auto .3rem;
}