body {
    background: #f9f9f9;
}

.collect-list-box {
    padding: .1rem .3rem;
}
.list-item {
    margin-top: .2rem;
    padding: .2rem;
    border:1px solid #F7F4F4;
    background: #fff;
    -webkit-box-shadow:0px 0px 18px 0px rgba(192,181,181,0.1);
    -moz-box-shadow:0px 0px 18px 0px rgba(192,181,181,0.1);
    -o-box-shadow:0px 0px 18px 0px rgba(192,181,181,0.1);
    box-shadow:0px 0px 18px 0px rgba(192,181,181,0.1);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

.list-item .count-icon {
    display: block;
    width: .32rem;
    height: .32rem;
    margin-right: .05rem;
}

.list-item .publish-img {
    display: block;
    width: 2.14rem;
    height: 2.04rem;
    margin-left: .2rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -o-border-radius: .1rem;
    border-radius: .1rem;
}