
body {
    background: #f9f9f9;
}

.content_1_box {
    padding: 0 .3rem;
    background: #fff;
}
.content_1_box .title {
    line-height: .88rem;
    font-size: .32rem;
    color: #000;
    font-weight: bold;
}
.tesk-item-box {
    height: .88rem;
    border-bottom: 1px solid #e9e9e9;
}

.tesk-item-box:last-child {
    border-bottom: none;
}

.tesk-item-box .tesk-icon {
    display: block;
    width: .48rem;
    height: .48rem;
    margin-right: .2rem;
}

.tesk-item-box .left-box > view {
    font-size: .32rem;
    color: #000;
}

.tesk-item-box .receive-points-btn {
    width: 1.2rem;
    height: .42rem;
    text-align: center;
    line-height: .42rem;
    -webkit-border-radius: .21rem;
    -moz-border-radius: .21rem;
    -o-border-radius: .21rem;
    border-radius: .21rem;
    background:-webkit-linear-gradient(58deg,rgba(12,181,132,0.94),rgba(25,215,160,0.94));
    background:-moz-linear-gradient(58deg,rgba(12,181,132,0.94),rgba(25,215,160,0.94));
    background:-o-linear-gradient(58deg,rgba(12,181,132,0.94),rgba(25,215,160,0.94));
    background:linear-gradient(58deg,rgba(12,181,132,0.94),rgba(25,215,160,0.94));
    -webkit-box-shadow: 0 0 4px 1px rgba(25,215,160,.3);
    -moz-box-shadow: 0 0 4px 1px rgba(25,215,160,.3);
    -o-box-shadow: 0 0 4px 1px rgba(25,215,160,.3);
    box-shadow: 0 0 4px 1px rgba(25,215,160,.3);
    font-size: .24rem;
    color: #fff;
}

.content_2_box {
    margin-top: .3rem;
    padding: 0 .3rem;
    background: #fff;
}
.content_2_box .title {
    line-height: .88rem;
}