
body {
    background: #f9f9f9;
}

.point-record-list {
    padding: 0 .3rem;
    background: #fff;
    border-top: 1px solid #e9e9e9;
}

.point-record-item {
    padding: .3rem 0;
    border-bottom: 1px solid #e9e9e9;
}

.add {
    font-size: .36rem;
    color: #3bb18f;
}

.less {
    font-size: .36rem;
    color: #333;
}