.points-bg-image {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.points-top-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 2.42rem;
    background: rgba(124, 130, 129, 0.37);
    border-bottom: 1px solid rgba(124, 130, 129, 0.37);
}

.points-tab-box {
    height: 1rem;
    border-bottom: 1px solid #fff;
}

.tab-item {
    position: relative;
    width: 25%;
    text-align: center;
    line-height: 1rem;
    font-size: .28rem;
    color: #fff;
}

.points-tab-box .on::after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: .77rem;
    height: .06rem;
    margin-left: -.38rem;
    -webkit-border-radius: .02rem;
    -moz-border-radius: .02rem;
    -o-border-radius: .02rem;
    border-radius: .02rem;
    background: #3bb18f;
}

.my-rank-box {
    height: 1.4rem;
    padding: 0 .35rem 0 .3rem;
}

.points-share {
    display: block;
    width: 1.4rem;
    height: .58rem;
    -webkit-border-radius: .29rem;
    -moz-border-radius: .29rem;
    -o-border-radius: .29rem;
    border-radius: .29rem;
    font-size: .32rem;
    color: #3bb18f;
    text-align: center;
    line-height: .58rem;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px 1px rgba(75, 225, 182, 0.24);
}

.points-rank-list {
    position: relative;
}
.points-rank-list::before {
    display: block;
    content: '';
    width: 100%;
    height: 2.42rem;
}
.points-rank-item {
    position: relative;
    padding: .3rem .3rem .3rem 1rem;
}

.points-rank-icon {
    position: absolute;
    top: .6rem;
    left: .25rem;
}

.rank-icon {
    display: block;
    width: .53rem;
    height: .65rem;
}
.points-rank-icon .text {
    position: absolute;
    top: .05rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .32rem;
    color: #fff;
}

.points-rank-lf {
    position: absolute;
    top: 50%;
    left: .1rem;
    width: .8rem;
    height: .8rem;
    transform: translateY(-50%);
}
.points-rank-lf .text {
    font-size: .32rem;
    color: #fff;
    text-align: center;
    line-height: .8rem;
}

.points-rank-item .user-head {
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
    border: 1px solid #aaa;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.points-rank-item .crown-icon {
    display: block;
    width: .28rem;
    height: .21rem;
    margin-right: .1rem;
}
.points-rank-item .point-num {
    font-size: .24rem;
    color: #E0E0E0;
}
.points-rank-item .use-time {
    position: absolute;
    top: 50%;
    left: 3.75rem;
    transform: translateY(-50%);
    margin-left: .6rem;
    font-size: .2rem;
    color: #CECECE;
}

.points-rank-item .right-icon {
    display: block;
    width: .14rem;
    height: .26rem;
    margin-left: .3rem;
}

.color {
    color: #3BB18F!important;
}